
/** To do: Avoid this*/
.slider__inner .slick-list {
    height: 10rem;
}

@media screen and (max-width: 1500px) {
    .slider__inner {
        padding: 0 4%;
    }
}


.slider__inner .slick-list {   
    padding: 0 !important;
    overflow: unset;
}

@media screen and (min-width: 1500px) {
    .slider__inner .slick-list {
        padding: 0 20% 0 60px !important;
    }
}

.slider__inner .slick-slide {
    transition: transform .3s ease .1s,-webkit-transform .3s ease .1s;
    padding: 0 2px;
    box-sizing: border-box;
}
.slider__inner .slick-slide:hover {
   transform: scale(1.5);
}

.slider__inner .slick-slide:hover .showmovieinfo-on-hover {
    /* transition: opacity .62s,1s ease; */
    opacity: 1;
    visibility: visible;
}
.slick-slide:hover .blurimg-on-hover {
    opacity: 0.7;
}

.slider__inner .slick-slide > div:first-child {
    width: inherit;
    height:inherit;
}
:not(.slick-active) + .slick-active {
    transform-origin: left;
}

.slick-track {
    margin-left: 0;
    margin-right: 0;
    height:100%;
}
/* .slick-slide:hover img { */
    /* transition: opacity .62s,1s ease;
    opacity: .5; */
/* } */